/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Container Principal */
  #container-perguntas, #container-resultado {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  /* Título */
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Perguntas */
  #perguntas {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /* Opções */
  #container-opcoes button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #container-opcoes button:hover {
    background-color: #007BFF;
    color: white;
  }
  
  /* Resultado */
  #container-resultado {
    display: none;
  }
  
#container-resultado.mostrar {
  display: block;
}
  #resultado {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /* Botão para jogar novamente */
  #novamente-btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #novamente-btn:hover {
    background-color: #0056b3;
  }
  